<h1>
  <%= @user.username %>

 <% if @user.created_events.any? %>
      <h3>events (<%= @user.created_events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
    <% end %>




</h1>