<h1>
  <%= @user.username %>

<% if @created_events.present? %>
   <% @created_events.each do |post| %>
      <%= created_events.title %>
   <% end %>
   <% else %>
   <h1>User has no created_events</h1>
<% end %>
</ul>




</h1>