<div class="strongbox">
  <h1>Future Events</h1>
  <ol class="future-events">
            <%= render @future_events %>
  </ol>
</div>
<hr>
<div class="longbox">
  <h1>Past Events</h1>
  <ol class="events">
            <%= render @past_events %>
  </ol>
</div>

